@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.card {
    @apply rounded-lg border border-l-gray-400 p-2 shadow-md;
}

.primary-button {
    @apply rounded py-2 px-4 shadow outline-none bg-amber-300 hover:bg-amber-500 active:bg-amber-700;
}
