@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.card {
    @apply rounded-lg border border-l-gray-400 shadow-md;
}

.primary-button {
    @apply w-1/2 rounded py-2 px-4 shadow outline-none bg-amber-300 hover:bg-amber-500 active:bg-amber-700;
}

/* styles.module.css */
.badge-container {
    position: relative;
}

.badge {
    position: absolute;
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top: 9%;
    right: 16%;
    /* transform: translate(50%, -50%); */
}
