.productItem {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;

  .productImage {
    cursor: pointer;
    padding: 2rem;
  }

  .productDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1.25rem;

    a {
      text-decoration: none;
    }

    .productName {
      font-size: 1.25rem;
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    .productBrand {
      margin-bottom: 0.25rem;
    }

    .price {
      font-weight: bold;
    }

    .fontBold {
      font-weight: bold;
    }
  }
}
