// Announcement.module.scss

.announcement {
    background-color: #000;
    color: #fff;
    padding: 0.5rem ;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  
    @media (min-width: 768px) {
      padding: 1rem 1.5rem;   
      flex-direction: row;  
      justify-content: space-between;
    }
  }
  
  .flexContainer {
    display: flex;
    flex-direction: row;  
    gap: 1rem;
    align-items: center;
  
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 0.3rem;
    }
  
    @media (min-width: 768px) {
      flex-direction: row; 
      align-items: flex-start;
    }
  }
  